<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="username" value=""/>
        <add key="password" value=""/>
        <add key="apiurl" value="https://api.hgbrasil.com/finance/stock_price?key=818e18b0&amp;symbol=" />
        <add key="host" value="" />
        <add key="from" value="" />
        <add key="recipients" value="" />
        <add key="subject" value="QIRoss B3 Bot Monitor"/>
        <add key="defaultBody" value="This is an automatic message from QIRoss B3 Bot Monitor"/>
        <add key="bodyOnSelling" value="Sell active: "/>
        <add key="bodyOnBuying" value="Buy active: "/>
    </appSettings>
</configuration>
